<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
						http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<display-name>OAP Upload Dashboard</display-name>
	<session-config>
		<session-timeout>180</session-timeout> <!-- XXX 180 -->
	</session-config>

	<!-- Servlets -->
	<servlet>
		<servlet-name>DashboardServlet</servlet-name>
		<servlet-class>gov.noaa.pmel.dashboard.server.DashboardServices</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/OAPUploadDashboard/DashboardServices</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DashboardDataUploadServlet</servlet-name>
		<servlet-class>gov.noaa.pmel.dashboard.server.DataUploadService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardDataUploadServlet</servlet-name>
		<url-pattern>/OAPUploadDashboard/DataUploadService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DashboardMetadataUploadServlet</servlet-name>
		<servlet-class>gov.noaa.pmel.dashboard.server.MetadataUploadService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardMetadataUploadServlet</servlet-name>
		<url-pattern>/OAPUploadDashboard/MetadataUploadService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DashboardMetadataDownloadServlet</servlet-name>
		<servlet-class>gov.noaa.pmel.dashboard.server.MetadataDownloadService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardMetadataDownloadServlet</servlet-name>
		<url-pattern>/OAPUploadDashboard/MetadataDownloadService/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditQcFlagsServlet</servlet-name>
		<servlet-class>gov.noaa.pmel.dashboard.server.EditFlagsService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditQcFlagsServlet</servlet-name>
		<url-pattern>/DashboardUpdateService/EditFlags/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NotificationServlet</servlet-name>
		<servlet-class>gov.noaa.pmel.dashboard.server.NotificationService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NotificationServlet</servlet-name>
		<url-pattern>/DashboardUpdateService/notify/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>DashboardServices</web-resource-name>
			<url-pattern>/DashboardUpdateService/*</url-pattern>
			<url-pattern>/images/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>OAP Dashboard</web-resource-name>
			<url-pattern>/*</url-pattern>
            <!--
			<http-method>DELETE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
              -->
		</web-resource-collection>
		<auth-constraint>
			<role-name>oapdashboarduser</role-name>
		</auth-constraint>
	</security-constraint>
            <!--
			<url-pattern>/DashboardServices/*</url-pattern>
             --> 

<!--
<security-constraint>
	<display-name>excluded</display-name>
	<web-resource-collection>
		<web-resource-name>No Access</web-resource-name>
		<url-pattern>/excluded/*</url-pattern>
		<url-pattern>/restricted/employee/excluded/*</url-pattern>
		<url-pattern>/restricted/partners/excluded/*</url-pattern>
	</web-resource-collection>
	<web-resource-collection>
		<web-resource-name>No Access</web-resource-name>
		<url-pattern>/restricted/*</url-pattern>
		<http-method>DELETE</http-method>
		<http-method>PUT</http-method>
		<http-method>HEAD</http-method>
		<http-method>OPTIONS</http-method>
		<http-method>TRACE</http-method>
		<http-method>GET</http-method>
		<http-method>POST</http-method>
	</web-resource-collection>
	<auth-constraint />
	<user-data-constraint>
		<transport-guarantee>NONE</transport-guarantee>
	</user-data-constraint>
</security-constraint>
  -X->
  -->
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>oapdashboarduser</realm-name>
		<form-login-config>
			<form-login-page>/dashboardlogin.html</form-login-page>
			<form-error-page>/dashboardloginerror.html</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<description>OAP Dashboard User</description>
		<role-name>oapdashboarduser</role-name>
	</security-role>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>OAPUploadDashboard.html</welcome-file>
	</welcome-file-list>

</web-app>
