@CHARSET "UTF-8";

body {
	background-color: #BBDDFF;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
.askDialogIcon {
	height: 32px;
/* 	width: 32px; */
}
.fixedwidthcontainer {
	width: 35em;
}
.horizontalpanel {
    display: block;
	margin-top: 0.5em;
	margin-bottom: 1em;
}
.horizontalbutton {
	width: 5em;
	margin-left: 3.5em;
	margin-right: 3.5em;
}

.introtitle {
	display: block;
	font-size: large;
	font-weight: bold;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
}
.introhtml {
	display: block;
	text-align: justify;
	padding-top: 0.5em;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

.blankPopupClose {
	color: button;
	background-color: white;
    padding: 2px 8px 3px;
    position:absolute;
    bottom: 5px;
    right: 5px;
    font: 400 11px system-ui;
    border-radius: 5px;
}
.blankPopupPanel {
	background-color: #BBDDFF;
    padding: 1em;
/* 	width: 35em;
    height: 15em; */
}
.uploadfile {
    display: block;
    width: 90%;
    font-size: 100%;
    margin: 1em 2em;
}
.infopanel {
	background-color: #CCCCCC;
	width: 35em;
}
.infohtml {
	/* text-align: justify; */
	padding: 1em;
}
.infobutton {
	margin-top: 0.5em;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
}

.inputpanel {
	background-color: #AACCEE;
	width: 35em;
}
.inputhtml {
	text-align: justify;
	padding: 0.5em;
}
.inputtextpanel {
	margin-top: 0em;
	margin-bottom: 2em;
}
.inputtextlabel {
	font-family: monospace;
	font-weight: bold;
	font-size: large;
	margin-right: 0.5em;
}
.inputtextbox {
	width: 15em;
	margin-left: 0.5em;
}

.loginbutton {
	display: block;
	font-weight: bold;
	font-size: large;
	width: 8em;
	margin-top: 2em;
	margin-bottom: 2em;
}

.reloginpanel {
	margin: 2em;
}

.reloginanchor {
	font-weight: bold;
	font-size: large;
}
