@CHARSET "UTF-8";

body {
	background-color: #BBDDFF;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
.none {
	
}
.askDialogIcon {
	height: 32px;
/* 	width: 32px; */
}
.feedbackChoiceBox {
    float:left;
    margin: 1em 2em;
}
.feedbackTextBox {
	width: 38em;
    height: 10em;
	margin: 1em 2em;
}
.fixedwidthcontainer {
	width: 35em;
}
.floatRight {
	float: right;
}
.horizontalpanel {
    display: block;
	margin-top: 0.5em;
	margin-bottom: 1em;
    align-content: center;
}
.adjustingbutton {
    display: inline-block;
    text-align: center;
	margin-left: 2.5em;
	margin-right: 2.5em;
}
.horizontalbutton {
	width: 5em;
	margin-left: 3.5em;
	margin-right: 3.5em;
}
.widebutton {
	width: 15em;
	margin-left: 2.5em;
	margin-right: 2.5em;
}

.introtitle {
	display: block;
	font-size: large;
	font-weight: bold;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
}
.introhtml {
	display: block;
	text-align: justify;
	padding-top: 0.5em;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

.blankPopupClose {
	color: buttontext;
	background-color: white;
    padding: 2px 8px 3px;
    position:absolute;
    bottom: 5px;
    right: 5px;
    font: 400 11px system-ui;
    border-radius: 5px;
}
.blankPopupPanel {
	background-color: #e4ffff; /*#BBDDFF;*/
    padding: 1em;
/* 	width: 35em;
    height: 15em; */
}
pre {
	margin: 0;
}
.previewPopupClose {
	color: button;
	background-color: white;
    padding: 2px 8px 3px;
    position:absolute;
    top: 5px;
    left: 5px;
    font: 400 11px system-ui;
    border-radius: 5px;
}
.previewPopupPanel {
/* 	background-color: #BBDDFF; */
    padding: 1.5em .25em .25em 1em;
}
.previewPopupHtml {
    padding: 0.25em;
    overflow: scroll;
    height: 99%;
    width: 100%;
}

.uploadfile {
    display: block;
    width: 90%;
    font-size: 100%;
    margin: 1em 2em;
}
.infopanel {
	background-color: #9eb9d7; /* #CCCCCC; */
    padding: 1em 2em;
	width: 35em;
}
.infoPanelLeftLabel {
	vertical-align: middle !important;
}
.infoPanelTextBox {
}
.infoTableRow {
    display: block;
	width: 100%;
	margin: 3px 5px 5px;
}
.infohtml {
	/* text-align: justify; */
	padding: 1em;
}
.infobutton {
	margin-top: 0.5em;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
}

.inputpanel {
	background-color: #AACCEE;
	width: 35em;
}
.inputhtml {
	text-align: justify;
	padding: 0.5em;
}
.inputtextpanel {
	margin-top: 0em;
	margin-bottom: 2em;
}
.inputtextlabel {
	font-family: monospace;
	font-weight: bold;
	font-size: large;
	margin-right: 0.5em;
}
.inputtextbox {
	width: 15em;
	margin-left: 0.5em;
}

.loginbutton {
	display: block;
	font-weight: bold;
	font-size: large;
	width: 8em;
	margin-top: 2em;
	margin-bottom: 2em;
}

.reloginpanel {
	margin: 2em;
}

.reloginanchor {
	font-weight: bold;
	font-size: large;
}
