@CHARSET "UTF-8";

html, body {
	width: 100%;
	height: 100%;
	background-color: #BBDDFF;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

.addldocsgrid {
	display: block;
	height: 20em;
	margin: 1em;
}
.advancedoptionspanel {
	display: block;
	margin-left: 1em;
	margin-top: 1em;
}
.agreepanel {
	display: block;
	margin-left: 1em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
.agreecheckbox {
	display: inline;
	margin-left: 3em;
}
.archiveFileListPanel {
    padding: 1.2em 0em .5em;
}
.archiveFileListLabel {
    display:inline-block;
    vertical-align: top;
    padding: 1em 2em;
    font-weight: bold;
}
.archiveFileList {
    display:inline-block;
}
.archiveStatusPanel {
    border: 1px solid black;
    bottom: unset !important;
    border-radius: .25em;
    padding: 0em 1em 1em;
    margin: 1.5em 1.5em;
    background: whitesmoke;
}
.archiveStatusLabel {
    /* margin-top: 2em; */
}
.archiveStatusLabel h3 {
    margin-block-end: .5em !important;
}
.archiveStatusSubmitTime {
	padding-left: 1em;
}
.archiveStatusList {
}
.columnSelectGrid {
}
.cruiselistdockpanel {
	width: 100%;
 	height: 47em;
}
.cruiselistgrid {
	margin-top: 1em;
	margin-right: 0.5em;
}
.cruisebuttonspanel {
/* 	background-color: #AACCEE; */
	padding-top: 0em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.cruisepanelmainbutton {
	display: block;
    border-color: red;
	width: 7.25em;
	margin-top: 0.5em;
	margin-bottom: 0.75em;
}
.cruisebuttonpanelseparator {
	display: block;
	height: 0px;
	border-style: solid;
	border-width: 1px;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}
.cruisepanelbutton {
	display: block;
	width: 7.25em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.datacolsgrid {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 0.5em;
}
.datagrid {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 0.5em;
}
.datagridscroll {
	height: 27em;
	margin: 1em;
}
.datapagerlabel {
	margin-left: 7em;
	float: left;
}
.datapager {
	margin-left: 3em;
	float: left;
}
.datamsgpanel {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.datamsglabel {
	margin-right: 3em;
	float: right;
}
.datamsgbutton {
	font-size: small;
	margin-right: 3em;
	float: right;
}
.datamsgreset {
	clear: both;
}
.featureTypeDisplay {
	margin-left: 3em;
}
.featureTypeSelectorLabel {
	display: inline;
	margin-top: .75em;
	margin-left: 2em;
    margin-right: .25em;
}
.featureTypeSelectBox {
	display: inline;
	margin-top: .5em;
    margin-left: 1em;
}
.fileTypeSelectBox {
    width: 152px;
	margin-top: .5em;
    margin-left: 4.5em;
}
.featureTypeHelpAnchor {
	display: inline;
	margin-top: .75em;
	margin-bottom: 0.5em;
	margin-left: 3em;
}
.fileTypeHelpAnchor {
/* 	margin-left: 5.25em; */
}
.contentscroll {
	width: 99.7%;
	height: 100%;
    margin: 0;
    overflow: scroll;
}
.fullpagecontainer {
	width: 99.9%;
	height: 100%;
    margin: 0;
}
.contentcontainer {
    display: table;
	width: 100%;
	height: 100%;
}
.none {
    
}
.hidden {
	display:none;
}
hr .hline {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
/*    margin: 1em auto; */
    padding: 0;
}
.horizontalbuttonpanel {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	/* height: 8em; */
}
.horizontalbutton {
	display: inline;
	font-size: 100%;
	width: 12em;
	margin-left: 3em;
}
.inlinePanel {
	display: inline-block;
}
.verticalbutton {
	display: inline;
	font-size: 100%;
	width: 7.25em;
/* 	margin-left: 3em; XXX Shouldn't be here. */
	margin-top: 1em;
    padding: 1em;
}
.verticalSpace3em {
	display: inline;
	padding: 1.5em 0em !important;
}
.pullRight {
	float: right;
    margin-right:1em;
    margin-bottom:1em;
}
.rightButton {
	display: inline;
	font-size: 100%;
	width: 12em;
	margin: 3em;
	float: right;
}

.introhtml {
	display: block;
	margin: 1em;
}
.labeledlistpanel {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.labeledlistlabel {
	display: inline;
	font-size: 100%;
	margin-left: 2em;
	margin-right: 0.5em;
}
.labeledlistbox {
	display: inline;
	font-size: 100%;
	margin-left: 0.5em;
}
.leftLink {
	font-size: 1.25em;
	margin-left: 3em;
}
.mainContentPanel {
	height: 80%;
	width: 98%;
	border: 1px solid black;
	margin: .5em;
}
.columnContentScroll {
	margin: .5em 1em;
    height: 89%;
    width: 97%;
	padding: .5em;
	border: 1px solid black;
	overflow: hidden;
	background-color: white;
}
.mainContentScroll {
	margin: .5em 1em;
	padding: .5em;
	border: 1px solid black;
	overflow: hidden;
	background-color: white;
}

.morehelpanchor {
	display: block;
    width: fit-content;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 2em;
}
.previewTitle {
	margin: 30px;
	font-size: large;
}
.downloadButton {
	display: inline;
	font-size: small;
	margin-right: 30px;
	margin-bottom: 20px;
	float: right;
}
.me_tab {
    height: 100%;
}
.me_sidePanel {
}
.me_container {
    margin-top: .5em;
    margin-right: .25em;
}
.metadataEditorFrame {
    height: 100%;
    width: 100%;
}
.metadataPreviewScroll {
	max-width: 800px;
	min-width: 500px;
	height: 700px;
	border: 1px solid black;
	margin: 0px 20px;
}
.metadataPreview {
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	background-color: #f7f8f9;
	overflow: hidden;
}

.omeoptionpanel {
	display: block;
	border-style: solid;
	border-width: 1px;
	padding: 0.25em;
	margin-top: 1em;
	margin-bottom: 0em;
	margin-left: 1em;
	margin-right: 1em;
}
.omecruiselabel {
	display: block;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-left: 0.5em;
	marging-right: 1em;
}
.omeoptionradio {
	display: block;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-left: 1em;
	margin-right: 1em;
}
.omeoptionradiopiece {
	display: inline;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
	margin-right: 0.5em;
}
.omeoptiontext {
	display: inline;
	width: 16em;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 0.5em;
	margin-right: 0em;
}

.optionsborderpanel {
	display: block;
	border-style: solid;
	border-width: 1px;
	padding: 0.25em;
	margin-top: 1em;
	margin-bottom: 0em;
	margin-left: 2em;
	margin-right: 1em;
}
.optionsintro {
	display: block;
	margin-left: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.optionpanel {
	display: block;
	margin-top: 1em;
	margin-bottom: 0em;
}
.optionradiobutton {
	display: inline;
	margin-left: 0.75em;
}
.optioninfoanchor {
	display: inline;
	font-size: small;
	margin-left: 1.5em;
}
.optionaddninfo {
	display: block;
	font-size: small;
	margin-left: 2.75em;
	margin-top: 0em;
	margin-bottom: 1em;
}

.plotspanel {
	display: block;
	height: 93%;
	margin: 1em;
}
.Xplotspanel {
	display: block;
	width: 98%;
	height: 710px;
	margin-top: 1em;
	margin-bottom: 1em;
}
.plotslabel {
	font-size: small;
}
.plotsimage {
	display: inline;
	margin: 3px 5px;
	width: 32%;
}

.previewbutton {
	display: block;
	font-size: small;
	width: 10em;
	margin: 2em;
}
.previewcaptionpanel {
	display: block;
	margin: 1em;
	padding-left: 1em;
	padding-right: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
}
.previewscrollpanel {
	height: 100%;
	/* width: 98%;
	height: 25em; */
}
.previewhtml {
	padding: 0.25em;
}

.settingscaptionpanel {
	display: block;
	margin: 1em;
}
/* XXX Remove these to Widgets.css */
.settingsradiopanel {
	display: block;
	margin: 0em;
	border-bottom-style: groove;
	border-width: 2px;
	border-color: #CCCCCC;
}
.settingsradiobutton {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 1em;
}

.sideSelectionPanel {
	padding: 15px 15px 0px 0px;
}
.sideSelector {
	margin: 10px 8px;
}
.sideSelectionLabel {
	border-bottom: solid black 1px;
}
.sideSelectionRadio {
	/* margin-left: 5px; */
}
.submit_msg_panel {
    padding: 0em 0em 1.5em 2em;
 	display: flex;
/*    height: 5em; */
}
.submit_msg_label_panel {
    flex: 0 0 27.5em;
	display: inline-block;
}
.submit_msg_scroll {
    display: inline-block;
    padding-right: 1.5em;
    flex: 1;
}
.submit_msg_text {
     width: 100%;
     height: 8.5em;
}
.titlepanel {
	margin-top: 1em;
	margin-bottom: 1.5em;
}
.pagefooter {
    display: block;
    font-size: 11px;
}
.footerLinkPanel {
    width: 35em;
    margin: 1em auto;
}
.pageheader {
	display: table;
    width: 100%;
    height: 4.2em;
	padding-top: 0em;
	padding-bottom: 0em;
    padding-right: .5em;
    overflow: visible;
    margin: 0px 2px;
    background-color: #55a3e8;
}
.normalText {
    font-weight: normal !important;
}
.headerMenuBar {
    border-radius: 5px;
    /* display: inline; 
    margin-right: .3em;*/
}
.headerMenuItem {
	padding: 1px 8px !important;
}
.headerMenuSeparator {
    margin: 0em .5em;
    border-width: 0px 1px;
    border-color: rgb(204, 204, 204);
}
.headerLogo {
	background-color: #55a3e8;
    margin: .5em 2.2em 0.3em;
    height: 50px;
}
.headerInfo {
    display: table-cell;
    width: 100%;
    /* padding-bottom: .5em; */
    margin-left: .5em;
	background-color: #55a3e8;
    vertical-align: bottom;
}
.letItOverFlow  > div {
	overflow: visible !important;
}
.tightenTheMain {
    margin-top: -.5em;	
}
.headerpagelabel {
	display: inline;
	font-size: large;
	font-weight: bold;
    margin: 0.25em 1em 0.3em;
    color: white;
/* 	float: left; */
}
.headerversionlabel {
	position: absolute;
    margin: 0.25em 1em 0.0em;
    font-style: italic;
    color: white;
    right: 20em;
    bottom: 2px;
}
.headersoftwaretitle {
	position: absolute;
	font-size: x-large;
    color: white;
    left: 38%;
    top: .25em;
}
.headeruserlabel {
	display: inline;
	font-size: small;
	margin-top: 0.5em;
	/* margin-right: 1em; */
    margin-bottom: .2em;
    color: white;
    float: right;
}
.titlemainpanel {
	dislay: block;
	background-color: #AACCEE;
	margin-top: 0.5em;
	margin-bottom: 0em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding-top: 1.0em;
	padding-bottom: 1.5em;
}
.titlepagelabel {
	display: inline;
	font-size: large;
	font-weight: bold;
	margin-top: 0.25em;
	margin-left: 1em;
	margin-right: 1em;
	float: left;
}
/* .titleuserlabel {
	display: inline;
	font-size: small;
	margin-top: 0.5em;
	margin-right: 2em;
	float: right;
} */
.titlelogoutgroup {
}
.titleRightGroup {
    position: absolute;
    /* top: 6px; */
    right: .1em;
    bottom: 5px;
    overflow: visible;
    margin-right: .75em;
}
.titlefeedbackbutton {
	font-size: small;
	margin-right: 1em;
    padding: .2em .4em;
    border: solid thin white;
    color: white;
    text-decoration: underline;
}
.titlelogoutbutton {
	display: inline;
	font-size: small;
	margin-right: 2em;
}
.titlereset {
	clear: both;
}
.titlePasswordMenuItem {
    display: inline;
    margin-right: 1em;
}
.titleAskPasswordChangePnl {
    padding: 4px;
    position: absolute;
    right: 120px;
    top: 20px;
   /*  z-index: 999 !important; */
    background: transparent;
}
.titleChangePasswordBtn {
   /*  z-index: 999 !important; */
}
.titlePasswordWrapper {
    buffer: 10px;	
}
.titleimage {
	display: block;
	height: 44px;
	width: 75px;
	position: absolute;
	top: 0.5em;
	left: 50%;
	margin-left: -25px;
}
.uploadfile {
	display: block;
	width: 50%;
	font-size: 100%;
	margin: 1em 2em;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 2em;
    padding: 0;
}
.west_gutter_element {
    flex: 0 0 8em;
    text-align: right;
    margin-right: 1em;
}

/* (not) From gwt-upload-progres:style.css */
.UploadProgress {
  height:21px;
  width: 200px;
  margin-left: 2em;
  margin-right: 5px;
  border: 1px solid lightgrey; 
}

/* comes from Runtime.css */
/* .ProgressBar .progress {
  height:10px;
  background-color: red; 
  margin: 2px;
  font-size: 0px;
}
 */